
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
    
                                    
            <tr>
                <td class="otitle">{$elem.__MERCHANT_ID->getTitle()}&nbsp;&nbsp;{if $elem.__MERCHANT_ID->getHint() != ''}<a class="help-icon" title="{$elem.__MERCHANT_ID->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__MERCHANT_ID->getRenderTemplate() field=$elem.__MERCHANT_ID}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__signatureMethod->getTitle()}&nbsp;&nbsp;{if $elem.__signatureMethod->getHint() != ''}<a class="help-icon" title="{$elem.__signatureMethod->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__signatureMethod->getRenderTemplate() field=$elem.__signatureMethod}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__SIGNATURE->getTitle()}&nbsp;&nbsp;{if $elem.__SIGNATURE->getHint() != ''}<a class="help-icon" title="{$elem.__SIGNATURE->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__SIGNATURE->getRenderTemplate() field=$elem.__SIGNATURE}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__generate->getTitle()}&nbsp;&nbsp;{if $elem.__generate->getHint() != ''}<a class="help-icon" title="{$elem.__generate->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__generate->getRenderTemplate() field=$elem.__generate}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__CURRENCY_ID->getTitle()}&nbsp;&nbsp;{if $elem.__CURRENCY_ID->getHint() != ''}<a class="help-icon" title="{$elem.__CURRENCY_ID->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__CURRENCY_ID->getRenderTemplate() field=$elem.__CURRENCY_ID}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__currency_default->getTitle()}&nbsp;&nbsp;{if $elem.__currency_default->getHint() != ''}<a class="help-icon" title="{$elem.__currency_default->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__currency_default->getRenderTemplate() field=$elem.__currency_default}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__PTENABLED->getTitle()}&nbsp;&nbsp;{if $elem.__PTENABLED->getHint() != ''}<a class="help-icon" title="{$elem.__PTENABLED->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__PTENABLED->getRenderTemplate() field=$elem.__PTENABLED}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__PTDISABLED->getTitle()}&nbsp;&nbsp;{if $elem.__PTDISABLED->getHint() != ''}<a class="help-icon" title="{$elem.__PTDISABLED->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__PTDISABLED->getRenderTemplate() field=$elem.__PTDISABLED}</td>
            </tr>
                                            
            <tr>
                <td class="otitle">{$elem.__help->getTitle()}&nbsp;&nbsp;{if $elem.__help->getHint() != ''}<a class="help-icon" title="{$elem.__help->getHint()|escape}">?</a>{/if}
                </td>
                <td>{include file=$elem.__help->getRenderTemplate() field=$elem.__help}</td>
            </tr>
                        